@font-face {
  font-family: Icons;
  src: url("lib/fonts/icons/icons.eot?iefix") format("embedded-opentype"), url("lib/fonts/icons/icons.ttf") format("truetype"), url("lib/fonts/icons/icons.woff") format("woff"); }
@font-face {
  font-family: Roboto-Light;
  src: url(lib/fonts/roboto/Roboto-Light.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(lib/fonts/roboto/Roboto-Regular.ttf); }
@font-face {
  font-family: Roboto-Black;
  src: url(lib/fonts/roboto/Roboto-Black.ttf); }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto-Regular, sans-serif; }

html, body {
  position: relative;
  width: 100%;
  background: #019875; }

.loader-spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #388e3c;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loader-spinner-wrapper .loader-spinner {
    position: relative;
    width: 50px;
    height: 50px;
    border: 8px solid #fff;
    border-radius: 100%;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    -webkit-animation: rotate-spinner 1s cubic-bezier(0.39, 0.65, 0.46, 0.78) infinite;
    -moz-animation: rotate-spinner 1s cubic-bezier(0.39, 0.65, 0.46, 0.78) infinite;
    -ms-animation: rotate-spinner 1s cubic-bezier(0.39, 0.65, 0.46, 0.78) infinite;
    -o-animation: rotate-spinner 1s cubic-bezier(0.39, 0.65, 0.46, 0.78) infinite;
    animation: rotate-spinner 1s cubic-bezier(0.39, 0.65, 0.46, 0.78) infinite; }
@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.wrapper {
  position: relative;
  width: 100%; }
  .wrapper .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    align-items: center; }
    .wrapper .main-header img {
      height: 40px; }
    .wrapper .main-header .search-bar {
      margin-left: 20px; }
      .wrapper .main-header .search-bar .form .fields {
        margin: 0 !important; }
  .wrapper .ui.button:not(.ui.button .icon) {
    font-family: Roboto-Regular !important; }
  .wrapper .form .field {
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .wrapper .form .field input[type=text] {
      border-color: #9E9E9E; }
      .wrapper .form .field input[type=text]::-webkit-input-placeholder {
        color: #9E9E9E; }
      .wrapper .form .field input[type=text]::-moz-placeholder {
        color: #6b6b6b; }
      .wrapper .form .field input[type=text]:-moz-placeholder {
        color: #6b6b6b; }
      .wrapper .form .field input[type=text]:ms-input-placeholder {
        color: #9E9E9E; }

/*# sourceMappingURL=main.css.map */
