.orlik-description-wrapper {
  padding-top: 70px; }
  .orlik-description-wrapper .orlik-description-content {
    position: relative;
    width: 100%; }
    .orlik-description-wrapper .orlik-description-content .orlik-image {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(0,0,0,.3);
      z-index: 1; }
      .orlik-description-wrapper .orlik-description-content .orlik-image img {
        position: absolute;
        top: -50%;
        width: 100%; }
      .orlik-description-wrapper .orlik-description-content .orlik-image .orlik-image-mask {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(96, 96, 96, 0.5);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 20px; }
        .orlik-description-wrapper .orlik-description-content .orlik-image .orlik-image-mask h1 {
          position: relative;
          color: #fff;
          font-size: 2.8em;
          font-weight: 400; }
.orlik-description-wrapper .orlik-description-content .orlik-image .orlik-image-mask .orlik-description--basic-data {
    color: #ccc;
    font-size: 1.2em;
    letter-spacing: -0.5px;
}

.orlik-description--basic-data span { margin-left: 10px; }
.orlik-description-wrapper .orlik-description {
    position: relative;
    width: 72.3%;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    padding: 10px 20px;
}


.orlik-description-wrapper .orlik-description table {
    position :relative;
    margin: 0 auto;
    width: 90%;
    font-size: 1.3em;
}

.orlik-description-wrapper .orlik-description table th, td {
    padding: 5px 30px;
    border: 6px solid #fff;
}
.orlik-description-wrapper .orlik-description table tr {
    background: #03A9F4;
}

.orlik-description-wrapper .orlik-description table td {
    background: #FF9800;
}