.main-header .search-result-tools {
  position: fixed;
  top: 70px;
  opacity: 0;
  left: 580px;
  width: 450px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  display: none; }

.search-result-wrapper {
  padding-top: 90px; }
  .search-result-wrapper .search-result-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .search-result-wrapper .search-result-content .field:first-child {
      width: 400px; }
    .search-result-wrapper .search-result-content .search-result-content--description {
      position: relative;
      width: 100%;
      padding: 0 20px;
      margin-top: 20px;
      font-family: Roboto-Light; }
      .search-result-wrapper .search-result-content .search-result-content--description h2, .search-result-wrapper .search-result-content .search-result-content--description h3 {
        margin: 10px 0; }
      .search-result-wrapper .search-result-content .search-result-content--description h3 {
        margin-bottom: 0; }
      .search-result-wrapper .search-result-content .search-result-content--description p {
        font-family: Roboto-Light; }
    .search-result-wrapper .search-result-content .search-result {
      display: flex;
      flex-direction: row;
      width: 100%; }
    .search-result-wrapper .search-result-content .search-result-items {
      position: relative;
      padding: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      -webkit-perspective: 5000px;
      perspective: 5000px; }
      .search-result-wrapper .search-result-content .search-result-items .search-result-item {
        position: relative;
        width: 100%;
        background: #fff;
        padding: 10px 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        -webkit-transition: 0.4s cubic-bezier(0.39, 0.65, 0.46, 0.78);
        -moz-transition: 0.4s cubic-bezier(0.39, 0.65, 0.46, 0.78);
        -ms-transition: 0.4s cubic-bezier(0.39, 0.65, 0.46, 0.78);
        -o-transition: 0.4s cubic-bezier(0.39, 0.65, 0.46, 0.78);
        transition: 0.4s cubic-bezier(0.39, 0.65, 0.46, 0.78);
        transition-property: top, opacity;
        top: 20px;
        opacity: 0; }
        .search-result-wrapper .search-result-content .search-result-items .search-result-item.search-result-item--active {
          top: 0;
          opacity: 1; }
        .search-result-wrapper .search-result-content .search-result-items .search-result-item h1 {
          font-size: 1.5em;
          margin-bottom: 5px;
          cursor: pointer; }
          .search-result-wrapper .search-result-content .search-result-items .search-result-item h1:hover {
            text-decoration: underline; }
        .search-result-wrapper .search-result-content .search-result-items .search-result-item .divider {
          position: relative;
          width: 100%;
          height: 2px;
          background: rgba(0, 0, 0, 0.15);
          margin: 10px 0; }
        .search-result-wrapper .search-result-content .search-result-items .search-result-item .search-result-item--description {
          margin-top: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between; }
          .search-result-wrapper .search-result-content .search-result-items .search-result-item .search-result-item--description span {
            color: #aaa; }
    .search-result-wrapper .search-result-content .search-result-map {
      position: fixed;
      left: 50%;
      width: 40%;
      padding: 20px 0; }
      .search-result-wrapper .search-result-content .search-result-map iframe {
        border: none;
        width: 100%;
        height: 520px; }

/*# sourceMappingURL=search-result.css.map */
