.search-bar-wrapper {
  height: 100vh; }
  .search-bar-wrapper .search-bar__header {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/search-bar__header-bg.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
    .search-bar-wrapper .search-bar__header .search-bar__mask {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(12, 95, 57, 0.38);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .search-bar-wrapper .search-bar__header .search-bar__mask img {
        width: 750px; }
      .search-bar-wrapper .search-bar__header .search-bar__mask p {
        color: #E0E0E0;
        font-family: Roboto-Light;
        font-size: 1.5em; }
  .search-bar-wrapper .search-bar-content {
    position: relative;
    top: -70px;
    opacity: 0;
    margin: 0 auto;
    width: 40%;
    background: #fff;
    padding: 30px;
    border-top: 10px solid #0A9F75;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
    .search-bar-wrapper .search-bar-content .search-bar {
      width: 100%; }
      .search-bar-wrapper .search-bar-content .search-bar .search-tools {
        height: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0); }
        .search-bar-wrapper .search-bar-content .search-bar .search-tools.search-tools--active {
          height: 38px;
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -o-transform: scaleY(1);
          transform: scaleY(1); }
        .search-bar-wrapper .search-bar-content .search-bar .search-tools .field:first-child {
          margin: 0;
          margin-right: 10px; }
        .search-bar-wrapper .search-bar-content .search-bar .search-tools .ui.dropdown {
          width: 50%; }
      .search-bar-wrapper .search-bar-content .search-bar .buttons .column {
        width: fit-content !important; }

/*# sourceMappingURL=search-bar.css.map */
