//compileExpanded: ../css/main.css
@font-face {
    font-family: Icons;
    src: url("lib/fonts/icons/icons.eot?iefix") format("embedded-opentype"),
         url("lib/fonts/icons/icons.ttf") format("truetype"),
         url("lib/fonts/icons/icons.woff") format("woff");
}

@font-face {
    font-family: Roboto-Light;
    src: url(lib/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(lib/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(lib/fonts/roboto/Roboto-Black.ttf);
}

@import "mixins";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto-Regular, sans-serif;
}

html, body {
    position: relative;
    width: 100%;
    background: #019875;
}

.loader-spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width :100%;
    height: 100%;
    z-index: 9999;
    background: #388e3c;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader-spinner {
        position: relative;
        width: 50px;
        height: 50px;
        border: 8px solid #fff;
        border-radius: 100%;
        border: {
            top: 8px solid transparent;
            bottom: 8px solid transparent;
        }
        @include animation(rotate-spinner 1s cubic-bezier(.39,.65,.46,.78) infinite);

        @keyframes rotate-spinner {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.wrapper {
    position: relative;
    width: 100%;
    
    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;
        padding: 10px;
        background: #fff;
        box-shadow: $shadow;
        z-index: 10;

        display: flex;
        align-items: center;

        img {
            height: 40px;
        }

        .search-bar {
            margin-left: 20px;
            
            .form .fields { margin: 0 !important; }
        }
    }
    
    .ui.button:not(.ui.button .icon) {
        font-family: Roboto-Regular !important;
    }

    .form .field {
        position: relative !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        input[type=text] {
            $color: #9E9E9E;
            border-color: $color;

            &::-webkit-input-placeholder {
                color: $color;
            }
            &::-moz-placeholder {
                color: darken($color, 20%);
            }
            &:-moz-placeholder {
                color: darken($color, 20%);
            }
            &:ms-input-placeholder {
                color: $color;
            }
        }
    }
}
