@import "mixins";

.orlik-description-wrapper {
    padding-top: $header-height;
    
    .orlik-description-content {
        position: relative;
        width: 100%;
        
        .orlik-image {
            position: relative;
            width :100%;
            height: 500px;
            overflow: hidden;
            z-index: 1;
            
            img {
                position: absolute;
                top: -50%;
                width: 100%;
            }
            .orlik-image-mask {
                position: relative;
                width: 100%;
                height: 100%;
                background: rgba(96, 96, 96, 0.5);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 20px;
                
                h1 {
                    position: relative;
                    color: #fff;
                    font: {
                        size: 2.8em;
                        weight: 400;
                    }
                }
                
                .orlik-description--basic-data {
                    color: #ccc;
                    font-size: 1.2em;
                    letter-spacing: -0.5px;
                    
                    span { margin-left: 10px; }
                }
            }
        }
    }
}