//compileExpanded: ../css/search-bar.css
@import "mixins";
.search-bar-wrapper {

    height: 100vh;

    .search-bar__header {
        position: relative;
        width: 100%;
        height: 500px;
        background: {
            image: url(../img/search-bar__header-bg.jpg);
            size: cover;
            position: center center;
        }
        box-shadow: 0 5px 10px rgba(0,0,0,.3);
        
        .search-bar__mask {
            position: relative;
            width: 100%;
            height: 100%;
            background: rgba(12, 95, 57, 0.38);
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            img {
                width: 750px;
            }
            p {
                color: #E0E0E0;
                font: {
                    family: Roboto-Light;
                    size: 1.5em;
                }
            }
        }
    }


    .search-bar-content {
        position: relative;
        top: -70px;
        opacity: 0;
        margin: 0 auto;
        width: 40%;
        background: #fff;
        padding: 30px;
        border-top: 10px solid #0A9F75;

        z-index: 1;
        box-shadow: 0 5px 10px rgba(0,0,0,.3);

        .search-bar {
            width: 100%;
            
            .search-tools {
                height: 0;
                z-index: 1;
                display: flex;
                flex-direction :row;
                justify-content: center;
                
                @include transition(.2s ease-in-out);
                @include transform(scaleY(0));
                
                &.search-tools--active { 
                    height: 38px;
                    @include transform(scaleY(1)); 
                }
                
                .field:first-child {
                    margin: 0;
                    margin-right: 10px;
                }
                .ui.dropdown {
                    width :50%;
                }
            }
            .buttons .column {
                display: inline-flex;
            }
        }
    }
}